*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar{
    width: 100%;
    padding: 15px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0f0f0f;
    color: white;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover{
    color: #ff3333;
}

.cta-btn{
    background: #ff3333;
    color: white;
    padding: 10px 18px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
    font-weight: bold;
}

.cta-btn:hover{
    background: #ff5b5b;
}

h1{
  text-align: center;
  margin: 0 auto 16px auto;
  padding: 200px ;
  color: #df1b1b;
}

.bg {
    width: 100%;
    height: 500px;

    background-image: url("https://destinationkosta.se/sv/media/604");
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat; 
}

body { background-color: dimgray;}

.section {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 40px;
}

.section .image img {
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
}

.section .text {
    max-width: 600px;
}

.section .text h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.section .btn {
    display: inline-block;
    background-color: #f42525;
    padding: 12px 24px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 6px;
    margin-top: 20px;
}
